<header class="well well-sm">
	<div class="row">
		<div class="col-lg-12">
			<div>
				<div class="row">
					<form>
						<div class="col-lg-3">
							<div class="form-group">
								<label>Name</label>
								<input name="name" [(ngModel)]="searchCriteria.name" class="form-control" type="text" placeholder="name" />
							</div>
						</div>
						<div class="col-lg-1">
							<div class="form-group">
								<label>Age</label>
								<input name="ageFrom" [(ngModel)]="searchCriteria.ageFrom" class="form-control" type="text" placeholder="age" />
							</div>
						</div>
						<div class="col-lg-1">
							<div class="form-group">
								<label>to</label>
								<input name="ageTo" [(ngModel)]="searchCriteria.ageTo" class="form-control" type="text" placeholder="age" />
							</div>
						</div>
						<div class="col-lg-1">
							<div class="form-group">
								<label>Weight</label>
								<input name="weightFrom" [(ngModel)]="searchCriteria.weightFrom" class="form-control" type="text" placeholder="weigth" />
							</div>
						</div>
						<div class="col-lg-1">
							<div class="form-group">
								<label>to</label>
								<input name="weightTo" [(ngModel)]="searchCriteria.weightTo" class="form-control" type="text" placeholder="weight" />
							</div>
						</div>
						<div class="col-lg-1">
							<div class="form-group">
								<label>Height</label>
								<input name="heightFrom" [(ngModel)]="searchCriteria.heightFrom" class="form-control" type="text" placeholder="height" />
							</div>
						</div>
						<div class="col-lg-1">
							<div class="form-group">
								<label>to</label>
								<input name="heightTo" [(ngModel)]="searchCriteria.heighTo" class="form-control" type="text" placeholder="height" />
							</div>
						</div>
						<div class="col-lg-1">
							<div class="form-group">
								<label>Hair</label>
								<input name="hairColor" [(ngModel)]="searchCriteria.hairColor" class="form-control" type="text" placeholder="color" />
							</div>
						</div>
						<div class="col-lg-2">
							<div class="form-group">
								<label>Profession</label>
								<input name="profession" [(ngModel)]="searchCriteria.profession" class="form-control" type="text" placeholder="profession" />
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</header>
