@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);

* {
  margin: 0;
	padding: 0;
	text-shadow: 1px 1px 2px black;
	color: white;
}

body {
	background: black;
}

ul {
	list-style-type: none;
}

h2 {
	font-family: oswald;
	font-size: 27px;
	font-weight: lighter;
	text-transform: uppercase;
}

h4 {
	font-size: 14px; 
}

h5 {
	display: inline;
}

input.form-control {
	color: white;
}

article, article.well, header.well {
 	background: #444359;
}

article section h4 {
	font-weight: 700;
}

article section h4 i {
	margin-right: 5px;
}

article section h4 .badge {
	margin-left: 5px;
	margin-right: 5px;
}

article .friends-photos {
	padding: 10px;
}

article .friends-photos > li {
	background: white none repeat scroll 0 0;
	border-radius: 50%;
	display: inline-block;
	padding: 0;
}

article .friends-photos > li:hover {
	background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
}

article .friends-photos img {
	border-radius: 50%;
	height: 60px;
	padding: 2px;
	width: 60px;
}

.tag {
	background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 2px;
	display: inline-block;
	font-size: 13px;
	font-weight: normal;
	margin-bottom: 5px;
	padding: 2px 5px;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.tag:hover {
	background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
}

.tag a, .tag a:hover, .more-friends a, .more-friends a:hover {
	text-decoration: none;
	color: #d9d9d9;
}
